{% extends 'trees/base_map.html'%}
{% load static %}
{% block extra_resources%}
<script src="{% static 'static1/plugins/L.Control.Sidebar.js' %}"></script>
<script src="{% static 'static1/plugins/easy-button.js' %}"></script>
<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
  .popupimage {
    height: 200px;
    width: 300px;
    overflow: hidden;
    border-radius: 50px;
}
#map_canvas {
    height: 100%; 
    width: 100%; 
    position: absolute
}
.leaflet-popup-content{
    background: black;
    color: white;
    width: auto;
    font-size: 16px;
}


label{
    font-size: 15px; 
    
}
.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* #checkboxes {
  display: none;
  border: 1px #dadada solid;
} */

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}


#checkboxes1 {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes1 label {
  display: block;
}

#checkboxes1 label:hover {
  background-color: #1e90ff;
}
#ward122 {
  display: none;
  border: 1px #dadada solid;
}

#ward122 label {
  display: block;
}
#wardSdiv {
  display: none;
  border: 1px #dadada solid;
  
}

#wardSdiv label {
  display: block;
}

#wardGSdiv {
  display: none;
  border: 1px #dadada solid;
}

#wardGSdiv label {
  display: block;
}

#wardLdiv {
  display: none;
  border: 1px #dadada solid;
}

#wardkwestdiv label {
  display: block;
}
#wardkwestdiv {
  display: none;
  border: 1px #dadada solid;
}

#wardLdiv label {
  display: block;
}
.border {
        padding: 6px 8px;
        border-style: groove;
        border-radius: 5px;
        margin: 20px;
        
    }
    
    
    table,
    th,
    td {
        border-bottom: 1px solid #ddd;
        border-collapse: collapse;
        padding: 2px 3px;
        text-align: center;
    }
    
    th {
        font-weight: bold;
    }
    
    tr:hover {
        background-color: #c9dbe6;
    }

    
    .table {
        border-collapse: collapse;
        padding: 50px;
        font-weight: bold;
        /* background:rgba(191, 149, 233, 0.473); */
    }
    /* css to customize Leaflet default styles  */
    
    .leaflet-popup-content-wrapper {
        background: rgba(0, 0, 0, 0.9);
        color: #ffffff;
    }
    
    .leaflet-popup-content {
        font-weight: bold;
    }
    
    h6 {
        color: blue;
    }

</style>
{% endblock %}

{% block map %}
<div class="header text-center" style="background-color: green;">
  <h1 style="margin: 0; padding: 5px;">Seasonomics</h1>
</div>
<div id="mapid" style="width: 100%; height: 100%;"></div>
<div id="sidebar" style="background-color: rgba(255, 255, 255); height: 80%;">                <!-- Main container -->

<i class="fa-regular fa-circle-xmark" onclick="sidebar.hide()" style="cursor:pointer;"></i>

<div class="border">

  <form>
    <div class="form-group col-md-4 multiselect">
      <label for="inputState">State</label>
      <select class="form-control" id="inputState">
                          <option value="SelectState">Select State</option>
                          <option value="Andhra Pradesh">Andhra Pradesh</option>
                          <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                          <option value="Assam">Assam</option>
                          <option value="Bihar">Bihar</option>
                          <option value="Chhattisgarh">Chhattisgarh</option>
                          <option value="Goa">Goa</option>
                          <option value="Gujarat">Gujarat</option>
                          <option value="Haryana">Haryana</option>
                          <option value="Himachal Pradesh">Himachal Pradesh</option>
                          <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                          <option value="Jharkhand">Jharkhand</option>
                          <option value="Karnataka">Karnataka</option>
                          <option value="Kerala">Kerala</option>
                          <option value="Madya Pradesh">Madya Pradesh</option>
                          <option value="Maharashtra">Maharashtra</option>
                          <option value="Manipur">Manipur</option>
                          <option value="Meghalaya">Meghalaya</option>
                          <option value="Mizoram">Mizoram</option>
                          <option value="Nagaland">Nagaland</option>
                          <option value="Orissa">Orissa</option>
                          <option value="Punjab">Punjab</option>
                          <option value="Rajasthan">Rajasthan</option>
                          <option value="Sikkim">Sikkim</option>
                          <option value="Tamil Nadu">Tamil Nadu</option>
                          <option value="Telangana">Telangana</option>
                          <option value="Tripura">Tripura</option>
                          <option value="Uttaranchal">Uttaranchal</option>
                          <option value="Uttar Pradesh">Uttar Pradesh</option>
                          <option value="West Bengal">West Bengal</option>
                          <option disabled style="background-color:#aaa; color:#fff">UNION Territories</option>
                          <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                          <option value="Chandigarh">Chandigarh</option>
                          <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                          <option value="Daman and Diu">Daman and Diu</option>
                          <option value="Delhi">Delhi</option>
                          <option value="Lakshadeep">Lakshadeep</option>
                          <option value="Puducherry">Pondicherry</option>
                        </select>
    </div>
    <div class="form-group col-md-4 multiselect">
      <label for="inputDistrict">District</label>
      <select class="form-control" id="inputDistrict">
          <option value="">-- select one -- </option>
      </select>
    </div>


    


  
  </form>
</div>

<div class="border">
  <label for="inputYear">Year</label>
  <select class="form-control" id="inputYear">
    <option value="None">---Select Year---</option>
    <option value="2020">2020</option>
    <option value="2021">2021</option>
    <option value="2022">2022</option>                
  </select>

    <label for="inputMonth">Month</label><br>
    <label for="inputMonth">From</label>
  <select class="form-control" id="inputMonthf">
    <option value="SelectMonth">Select Month</option>
    <option value="01">January</option>
    <option value="02">February</option>
    <option value="03">March</option>
    <option value="04">April</option>
    <option value="05">May</option>
    <option value="06">June</option>
    <option value="07">July</option>
    <option value="08">August</option>
    <option value="09">September</option>
    <option value="10">Octuber</option>
    <option value="11">November</option>
    <option value="12">December</option>                     
  </select>

  <label for="inputMonth">To</label>
  <select class="form-control" id="inputMontht" onchange="month()">
    <option value="SelectMonth">Select Month</option>
    <option value="01">January</option>
    <option value="02">February</option>
    <option value="03">March</option>
    <option value="04">April</option>
    <option value="05">May</option>
    <option value="06">June</option>
    <option value="07">July</option>
    <option value="08">August</option>
    <option value="09">September</option>
    <option value="10">Octuber</option>
    <option value="11">November</option>
    <option value="12">December</option>                     
  </select>
</div>


<div class="border">
  <label for="inputState">Latitude</label>
  <select class="form-control" id="inputLat" onchange="latit()">
    <option value="SelectState">-- Select Latitude --</option>
    <option value="Zone 1">Zone 1</option>
    <option value="Zone 2">Zone 2</option>
    <option value="Zone 3">Zone 3</option>
    <option value="Zone 4">Zone 4</option>
    <option value="Zone 5">Zone 5</option>
    <option value="Zone 6">Zone 6</option>
    <option value="Zone 7">Zone 7</option>
  </select>
</div>


<div class="border">
  <label for="inputMonth">Model System</label>
  <select class="form-control" id="inputModel">
    <option value="SelectMonth">Select Model</option>
    <option value="Alstonia (Indian Pulai, Devil tree)">Alstonia (Indian Pulai, Devil tree)</option>
    <option value="Koel cooing">Koel cooing</option>
    <option value="Mango">Mango</option>
    <option value="Gulmohar">Gulmohar</option>
    <option value="Other Plant Seasonal Behaviour">Other Plant Seasonal Behaviour</option>
    <option value="Other Animal Seasonal Behaviour">Other Animal Seasonal Behaviour</option>
    <option value="Cassia Fistula (Golden shower/ Indian Labrunam)">Cassia Fistula (Golden shower/ Indian Labrunam)</option>
    <option value="Jack Fruit">Jack Fruit</option>
    <option value="Crow Nesting">Crow Nesting</option>
    <option value="Peepal">Peepal</option>
    <option value="Copper pod">Copper pod</option>
    <option value="Junglee Badam (Wild Almond)">Junglee Badam (Wild Almond)</option>                     
    <option value="Mosquito">Mosquito</option>
  </select>
</div>

<div class="border">
  <label for=""><input type="checkbox" class="form-check-input" id="flower" onchange="flower('Yes')"> Flowering <span id="f"></span></label><br>
  <label for=""><input type="checkbox" name="" id="noflower" class="form-check-input" onchange="noflower('No')"> Non Flowering <span id="nf"></span></label>
</div>

<div class="border">
  <label for=""><input type="checkbox" class="form-check-input" id="fruit" onchange="fruit('Yes')"> Fruiting <span id="fu"></span></label><br>
  <label for=""><input type="checkbox" name="" id="nofruit" class="form-check-input" onchange="nofruit('No')"> Non Fruiting <span id="nfu"></span></label>
</div>

     
  <button class="btn btn-primary" id="clear" onclick="clearMap()">Clear Map</button>

  </div>

<script>
    let isClicked = false
    var mymap = L.map('mapid').setView([19.7515-1,75.7139-1], 4.2);
    
    var mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		mbUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';

//  const url = 'https://geoserver2.communitygis.net/geoserver/ows?service=WFS&version=1.0.0&request=GetFeature&typename=geonode%3Aposhan_dummy&outputFormat=json&srs=EPSG%3A4326&srsName=EPSG%3A4326&access_token=3r7XCeWunHUOfoyqPxnUNt7XY7ZWHu'
//     const url1 = 'https://geoserver2.communitygis.net/geoserver/ows?service=WFS&version=1.0.0&request=GetFeature&typename=geonode%3AOrganization_wise_Compendium&outputFormat=json&srs=EPSG%3A4326&srsName=EPSG%3A4326&access_token=3r7XCeWunHUOfoyqPxnUNt7XY7ZWHu'

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
    }).addTo(mymap);
   
    
    


    var sidebar = L.control.sidebar('sidebar', {
      position: 'left'
    });

    mymap.addControl(sidebar);
    //<i class="fa-solid fa-bars"></i>

    var ctlEasybutton = L.easyButton('fa-solid fa-bars', function () {
				sidebar.toggle();
			}).addTo(mymap);
			// sidebar.show();


var range = [];
var latLayer;
var year;
var from;
var to;
var counter = 0;

var AndraPradesh = ["Anantapur","Chittoor","East Godavari","Guntur","Kadapa","Krishna","Kurnool","Prakasam","Nellore","Srikakulam","Visakhapatnam","Vizianagaram","West Godavari"];
var ArunachalPradesh = ["Anjaw","Changlang","Dibang Valley","East Kameng","East Siang","Kra Daadi","Kurung Kumey","Lohit","Longding","Lower Dibang Valley","Lower Subansiri","Namsai","Papum Pare","Siang","Tawang","Tirap","Upper Siang","Upper Subansiri","West Kameng","West Siang","Itanagar"];
var Assam = ["Baksa","Barpeta","Biswanath","Bongaigaon","Cachar","Charaideo","Chirang","Darrang","Dhemaji","Dhubri","Dibrugarh","Goalpara","Golaghat","Hailakandi","Hojai","Jorhat","Kamrup Metropolitan","Kamrup (Rural)","Karbi Anglong","Karimganj","Kokrajhar","Lakhimpur","Majuli","Morigaon","Nagaon","Nalbari","Dima Hasao","Sivasagar","Sonitpur","South Salmara Mankachar","Tinsukia","Udalguri","West Karbi Anglong"];
var Bihar = ["Araria","Arwal","Aurangabad","Banka","Begusarai","Bhagalpur","Bhojpur","Buxar","Darbhanga","East Champaran","Gaya","Gopalganj","Jamui","Jehanabad","Kaimur","Katihar","Khagaria","Kishanganj","Lakhisarai","Madhepura","Madhubani","Munger","Muzaffarpur","Nalanda","Nawada","Patna","Purnia","Rohtas","Saharsa","Samastipur","Saran","Sheikhpura","Sheohar","Sitamarhi","Siwan","Supaul","Vaishali","West Champaran"];
var Chhattisgarh = ["Balod","Baloda Bazar","Balrampur","Bastar","Bemetara","Bijapur","Bilaspur","Dantewada","Dhamtari","Durg","Gariaband","Janjgir Champa","Jashpur","Kabirdham","Kanker","Kondagaon","Korba","Koriya","Mahasamund","Mungeli","Narayanpur","Raigarh","Raipur","Rajnandgaon","Sukma","Surajpur","Surguja"];
var Goa = ["North Goa","South Goa"];
var Gujarat = ["Ahmedabad","Amreli","Anand","Aravalli","Banaskantha","Bharuch","Bhavnagar","Botad","Chhota Udaipur","Dahod","Dang","Devbhoomi Dwarka","Gandhinagar","Gir Somnath","Jamnagar","Junagadh","Kheda","Kutch","Mahisagar","Mehsana","Morbi","Narmada","Navsari","Panchmahal","Patan","Porbandar","Rajkot","Sabarkantha","Surat","Surendranagar","Tapi","Vadodara","Valsad"];
var Haryana = ["Ambala","Bhiwani","Charkhi Dadri","Faridabad","Fatehabad","Gurugram","Hisar","Jhajjar","Jind","Kaithal","Karnal","Kurukshetra","Mahendragarh","Mewat","Palwal","Panchkula","Panipat","Rewari","Rohtak","Sirsa","Sonipat","Yamunanagar"];
var HimachalPradesh = ["Bilaspur","Chamba","Hamirpur","Kangra","Kinnaur","Kullu","Lahaul Spiti","Mandi","Shimla","Sirmaur","Solan","Una"];
var JammuKashmir = ["Anantnag","Bandipora","Baramulla","Budgam","Doda","Ganderbal","Jammu","Kargil","Kathua","Kishtwar","Kulgam","Kupwara","Leh","Poonch","Pulwama","Rajouri","Ramban","Reasi","Samba","Shopian","Srinagar","Udhampur"];
var Jharkhand = ["Bokaro","Chatra","Deoghar","Dhanbad","Dumka","East Singhbhum","Garhwa","Giridih","Godda","Gumla","Hazaribagh","Jamtara","Khunti","Koderma","Latehar","Lohardaga","Pakur","Palamu","Ramgarh","Ranchi","Sahebganj","Seraikela Kharsawan","Simdega","West Singhbhum"];
var Karnataka = ["Bagalkot","Bangalore Rural","Bangalore Urban","Belgaum","Bellary","Bidar","Vijayapura","Chamarajanagar","Chikkaballapur","Chikkamagaluru","Chitradurga","Dakshina Kannada","Davanagere","Dharwad","Gadag","Gulbarga","Hassan","Haveri","Kodagu","Kolar","Koppal","Mandya","Mysore","Raichur","Ramanagara","Shimoga","Tumkur","Udupi","Uttara Kannada","Yadgir"];
var Kerala = ["Alappuzha","Ernakulam","Idukki","Kannur","Kasaragod","Kollam","Kottayam","Kozhikode","Malappuram","Palakkad","Pathanamthitta","Thiruvananthapuram","Thrissur","Wayanad"];
var MadhyaPradesh = ["Agar Malwa","Alirajpur","Anuppur","Ashoknagar","Balaghat","Barwani","Betul","Bhind","Bhopal","Burhanpur","Chhatarpur","Chhindwara","Damoh","Datia","Dewas","Dhar","Dindori","Guna","Gwalior","Harda","Hoshangabad","Indore","Jabalpur","Jhabua","Katni","Khandwa","Khargone","Mandla","Mandsaur","Morena","Narsinghpur","Neemuch","Panna","Raisen","Rajgarh","Ratlam","Rewa","Sagar","Satna","Sehore","Seoni","Shahdol","Shajapur","Sheopur","Shivpuri","Sidhi","Singrauli","Tikamgarh","Ujjain","Umaria","Vidisha"];
var Maharashtra = ["Ahmednagar","Akola","Amravati","Aurangabad","Beed","Bhandara","Buldhana","Chandrapur","Dhule","Gadchiroli","Gondia","Hingoli","Jalgaon","Jalna","Kolhapur","Latur","Mumbai City","Mumbai Suburban","Nagpur","Nanded","Nandurbar","Nashik","Osmanabad","Palghar","Parbhani","Pune","Raigad","Ratnagiri","Sangli","Satara","Sindhudurg","Solapur","Thane","Wardha","Washim","Yavatmal"];
var Manipur = ["Bishnupur","Chandel","Churachandpur","Imphal East","Imphal West","Jiribam","Kakching","Kamjong","Kangpokpi","Noney","Pherzawl","Senapati","Tamenglong","Tengnoupal","Thoubal","Ukhrul"];
var Meghalaya = ["East Garo Hills","East Jaintia Hills","East Khasi Hills","North Garo Hills","Ri Bhoi","South Garo Hills","South West Garo Hills","South West Khasi Hills","West Garo Hills","West Jaintia Hills","West Khasi Hills"];
var Mizoram = ["Aizawl","Champhai","Kolasib","Lawngtlai","Lunglei","Mamit","Saiha","Serchhip","Aizawl","Champhai","Kolasib","Lawngtlai","Lunglei","Mamit","Saiha","Serchhip"];
var Nagaland = ["Dimapur","Kiphire","Kohima","Longleng","Mokokchung","Mon","Peren","Phek","Tuensang","Wokha","Zunheboto"];
var Odisha = ["Angul","Balangir","Balasore","Bargarh","Bhadrak","Boudh","Cuttack","Debagarh","Dhenkanal","Gajapati","Ganjam","Jagatsinghpur","Jajpur","Jharsuguda","Kalahandi","Kandhamal","Kendrapara","Kendujhar","Khordha","Koraput","Malkangiri","Mayurbhanj","Nabarangpur","Nayagarh","Nuapada","Puri","Rayagada","Sambalpur","Subarnapur","Sundergarh"];
var Punjab = ["Amritsar","Barnala","Bathinda","Faridkot","Fatehgarh Sahib","Fazilka","Firozpur","Gurdaspur","Hoshiarpur","Jalandhar","Kapurthala","Ludhiana","Mansa","Moga","Mohali","Muktsar","Pathankot","Patiala","Rupnagar","Sangrur","Shaheed Bhagat Singh Nagar","Tarn Taran"];
var Rajasthan = ["Ajmer","Alwar","Banswara","Baran","Barmer","Bharatpur","Bhilwara","Bikaner","Bundi","Chittorgarh","Churu","Dausa","Dholpur","Dungarpur","Ganganagar","Hanumangarh","Jaipur","Jaisalmer","Jalore","Jhalawar","Jhunjhunu","Jodhpur","Karauli","Kota","Nagaur","Pali","Pratapgarh","Rajsamand","Sawai Madhopur","Sikar","Sirohi","Tonk","Udaipur"];
var Sikkim = ["East Sikkim","North Sikkim","South Sikkim","West Sikkim"];
var TamilNadu = ["Ariyalur","Chennai","Coimbatore","Cuddalore","Dharmapuri","Dindigul","Erode","Kanchipuram","Kanyakumari","Karur","Krishnagiri","Madurai","Nagapattinam","Namakkal","Nilgiris","Perambalur","Pudukkottai","Ramanathapuram","Salem","Sivaganga","Thanjavur","Theni","Thoothukudi","Tiruchirappalli","Tirunelveli","Tiruppur","Tiruvallur","Tiruvannamalai","Tiruvarur","Vellore","Viluppuram","Virudhunagar"];
var Telangana = ["Adilabad","Bhadradri Kothagudem","Hyderabad","Jagtial","Jangaon","Jayashankar","Jogulamba","Kamareddy","Karimnagar","Khammam","Komaram Bheem","Mahabubabad","Mahbubnagar","Mancherial","Medak","Medchal","Nagarkurnool","Nalgonda","Nirmal","Nizamabad","Peddapalli","Rajanna Sircilla","Ranga Reddy","Sangareddy","Siddipet","Suryapet","Vikarabad","Wanaparthy","Warangal Rural","Warangal Urban","Yadadri Bhuvanagiri"];
var Tripura = ["Dhalai","Gomati","Khowai","North Tripura","Sepahijala","South Tripura","Unakoti","West Tripura"];
var UttarPradesh = ["Agra","Aligarh","Allahabad","Ambedkar Nagar","Amethi","Amroha","Auraiya","Azamgarh","Baghpat","Bahraich","Ballia","Balrampur","Banda","Barabanki","Bareilly","Basti","Bhadohi","Bijnor","Budaun","Bulandshahr","Chandauli","Chitrakoot","Deoria","Etah","Etawah","Faizabad","Farrukhabad","Fatehpur","Firozabad","Gautam Buddha Nagar","Ghaziabad","Ghazipur","Gonda","Gorakhpur","Hamirpur","Hapur","Hardoi","Hathras","Jalaun","Jaunpur","Jhansi","Kannauj","Kanpur Dehat","Kanpur Nagar","Kasganj","Kaushambi","Kheri","Kushinagar","Lalitpur","Lucknow","Maharajganj","Mahoba","Mainpuri","Mathura","Mau","Meerut","Mirzapur","Moradabad","Muzaffarnagar","Pilibhit","Pratapgarh","Raebareli","Rampur","Saharanpur","Sambhal","Sant Kabir Nagar","Shahjahanpur","Shamli","Shravasti","Siddharthnagar","Sitapur","Sonbhadra","Sultanpur","Unnao","Varanasi"];
var Uttarakhand  = ["Almora","Bageshwar","Chamoli","Champawat","Dehradun","Haridwar","Nainital","Pauri","Pithoragarh","Rudraprayag","Tehri","Udham Singh Nagar","Uttarkashi"];
var WestBengal = ["Alipurduar","Bankura","Birbhum","Cooch Behar","Dakshin Dinajpur","Darjeeling","Hooghly","Howrah","Jalpaiguri","Jhargram","Kalimpong","Kolkata","Malda","Murshidabad","Nadia","North 24 Parganas","Paschim Bardhaman","Paschim Medinipur","Purba Bardhaman","Purba Medinipur","Purulia","South 24 Parganas","Uttar Dinajpur"];
var AndamanNicobar = ["Nicobar","North Middle Andaman","South Andaman"];
var Chandigarh = ["Chandigarh"];
var DadraHaveli = ["Dadra Nagar Haveli"];
var DamanDiu = ["Daman","Diu"];
var Delhi = ["Central Delhi","East Delhi","New Delhi","North Delhi","North East Delhi","North West Delhi","Shahdara","South Delhi","South East Delhi","South West Delhi","West Delhi"];
var Lakshadweep = ["Lakshadweep"];
var Puducherry = ["Karaikal","Mahe","Puducherry","Yanam"];

var wmsLayer = L.tileLayer.wms('https://geoserver2.communitygis.net/geoserver/wms', {
          layers: '	geonode:states_in_india',
          format: 'image/png',
          transparent: 'true',                        
        }); 
        wmsLayer.addTo(mymap);

var districtLayer;
        
$("#inputState").change(function(){
  var StateSelected = $(this).val();
  var optionsList;
  var htmlString = "";

  mymap.removeLayer(wmsLayer);

  wmsLayer = L.tileLayer.wms('https://geoserver2.communitygis.net/geoserver/wms', {
          layers: '	geonode:states_in_india',
          format: 'image/png',
          transparent: 'true',
          cql_filter: `state='${StateSelected}'`,                  
        }); 
        wmsLayer.addTo(mymap);

  districtLayer = L.tileLayer.wms('https://geoserver2.communitygis.net/geoserver/wms', {
          layers: 'geonode:all_india_districts_11june2020',
          format: 'image/png',
          transparent: 'true',
          cql_filter: `state='${StateSelected}'`,                  
        }); 
        districtLayer.addTo(mymap);

  switch (StateSelected) {
    case "Andhra Pradesh":
        mymap.setView([16,77],7)
        optionsList = AndraPradesh;
        break;
    case "Arunachal Pradesh":
        mymap.setView([28,93],7)
        optionsList = ArunachalPradesh;
        break;
    case "Assam":
        mymap.setView([26,93],7)
        optionsList = Assam;
        break;
    case "Bihar":
        mymap.setView([25,85],7)
        optionsList = Bihar;
        break;
    case "Chhattisgarh":
        mymap.setView([21,82],7)
        optionsList = Chhattisgarh;
        break;
    case "Goa":
        mymap.setView([15,74],9)
        optionsList = Goa;
        break;
    case  "Gujarat":
        mymap.setView([22,71],7)
        optionsList = Gujarat;
        break;
    case "Haryana":
        mymap.setView([19.126,72.9296],7)
        optionsList = Haryana;
        break;
    case "Himachal Pradesh":
        mymap.setView([19.126,72.9296],7)
        optionsList = HimachalPradesh;
        break;
    case "Jammu and Kashmir":
        mymap.setView([19.126,72.9296],7)
        optionsList = JammuKashmir;
        break;
    case "Jharkhand":
        mymap.setView([19.126,72.9296],7)
        optionsList = Jharkhand;
        break;
    case  "Karnataka":
        mymap.setView([19.126,72.9296],7)
        optionsList = Karnataka;
        break;
    case "Kerala":
        mymap.setView([19.126,72.9296],7)
        optionsList = Kerala;
        break;
    case  "Madya Pradesh":
        mymap.setView([19.126,72.9296],7)
        optionsList = MadhyaPradesh;
        break;
    case "Maharashtra":
        mymap.setView([19.126,72.9296],7)
        optionsList = Maharashtra;
        break;
    case  "Manipur":
        mymap.setView([19.126,72.9296],7)
        optionsList = Manipur;
        break;
    case "Meghalaya":
        mymap.setView([19.126,72.9296],7)
        optionsList = Meghalaya ;
        break;
    case  "Mizoram":
        mymap.setView([19.126,72.9296],7)
        optionsList = Mizoram;
        break;
    case "Nagaland":
        mymap.setView([19.126,72.9296],7)
        optionsList = Nagaland;
        break;
    case  "Orissa":
        mymap.setView([19.126,72.9296],7)
        optionsList = Orissa;
        break;
    case "Punjab":
        mymap.setView([19.126,72.9296],7)
        optionsList = Punjab;
        break;
    case  "Rajasthan":
        mymap.setView([19.126,72.9296],7)
        optionsList = Rajasthan;
        break;
    case "Sikkim":
        mymap.setView([19.126,72.9296],7)
        optionsList = Sikkim;
        break;
    case  "Tamil Nadu":
        mymap.setView([19.126,72.9296],7)
        optionsList = TamilNadu;
        break;
    case  "Telangana":
        mymap.setView([19.126,72.9296],7)
        optionsList = Telangana;
        break;
    case "Tripura":
        mymap.setView([19.126,72.9296],7)
        optionsList = Tripura ;
        break;
    case  "Uttaranchal":
        mymap.setView([19.126,72.9296],7)
        optionsList = Uttaranchal;
        break;
    case  "Uttar Pradesh":
        mymap.setView([19.126,72.9296],7)
        optionsList = UttarPradesh;
        break;
    case "West Bengal":
        mymap.setView([19.126,72.9296],7)
        optionsList = WestBengal;
        break;
    case  "Andaman and Nicobar Islands":
        mymap.setView([19.126,72.9296],7)
        optionsList = AndamanNicobar;
        break;
    case "Chandigarh":
        mymap.setView([19.126,72.9296],7)
        optionsList = Chandigarh;
        break;
    case  "Dadar and Nagar Haveli":
        mymap.setView([19.126,72.9296],7)
        optionsList = DadraHaveli;
        break;
    case "Daman and Diu":
        mymap.setView([19.126,72.9296],7)
        optionsList = DamanDiu;
        break;
    case  "Delhi":
        mymap.setView([19.126,72.9296],7)
        optionsList = Delhi;
        break;
    case "Lakshadeep":
        mymap.setView([19.126,72.9296],7)
        optionsList = Lakshadeep ;
        break;
    case "Puducherry":
        mymap.setView([12,80],7)
        optionsList = Puducherry;
        break;
}


  for(var i = 0; i < optionsList.length; i++){
    htmlString = htmlString+"<option value='"+ optionsList[i] +"'>"+ optionsList[i] +"</option>";
  }
  $("#inputDistrict").html(htmlString);

  $("#inputDistrict").change(function(){
    var districtName = $(this).val()
    // console.log(district)
    mymap.removeLayer(districtLayer)

    districtLayer = L.tileLayer.wms('https://geoserver2.communitygis.net/geoserver/wms', {
      layers: 'geonode:all_india_districts_11june2020',
      format: 'image/png',
      transparent: 'true',
      cql_filter: `district='${districtName}'`,                  
    }); 
    districtLayer.addTo(mymap);
  })


});
      


 var year;
 var month;
 var monthLayer;
$('#inputYear').change(function(){
  year = $(this).val()

$('#inputMonth').change(function(){
  month = $(this).val()
  console.log(`${year}-${month}`)
  mymap.setView([19.7515-1,75.7139-1], 4.2)

  fetch('https://geonode.communitygis.in/geoserver/geonode/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=geonode%3ACUBE_Seasonomics___all_versions___English&outputFormat=application%2Fjson')
    .then(result=>result.json())
    .then((output)=>{
      monthLayer = L.geoJson(output,{
        onEachFeature: function(feature, layer){
          layer.bindPopup(`<div>Location of Observation: ${feature.properties.Location_o}<br>Model System: ${feature.properties.model_syst}<br>Flowering: ${feature.properties.details_2}</div>`)
        },
        filter:function(feature,layer){
          console.log(typeof `${year}-${month}`)
          return feature.properties.end.includes('2022/12');
        }
      })
      monthLayer.addTo(mymap)
      
    })

})

}) 

var modelLayer;
$('#inputModel').change(function(){
  if(modelLayer){
    mymap.removeLayer(modelLayer)
  }
  var model = $(this).val()
  mymap.setView([19.7515-1,75.7139-1], 4.2)

  fetch('https://geonode.communitygis.in/geoserver/geonode/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=geonode%3ACUBE_Seasonomics___all_versions___English&outputFormat=application%2Fjson')
    .then(result=>result.json())
    .then((output)=>{
      modelLayer = L.geoJson(output,{
        onEachFeature: function(feature, layer){
          layer.bindPopup(`<div>Location of Observation: ${feature.properties.Location_o}<br>Model System: ${feature.properties.model_syst}<br>Flowering: ${feature.properties.details_2}</div>`)
        },
        filter:function(feature,layer){
          return feature.properties.model_syst == model;
        }
      })
      modelLayer.addTo(mymap)
    })


})

var flowerShow = false;
var nonflower = false;
var flowerLayer;
var nonflowerLayer;
function flower(val){
  counter=0;
  mymap.setView([19.7515-1,75.7139-1], 4.2)
  
  var MyIcon = L.icon({
    iconUrl: '{% static "static1/images/2.png" %}',
    iconSize:     [20, 50], // size of the icon
    shadowSize:   [50, 64], // size of the shadow
    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
    shadowAnchor: [4, 62],  // the same for the shadow
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});

    fetch('https://geonode.communitygis.in/geoserver/geonode/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=geonode%3ACUBE_Seasonomics___all_versions___English&outputFormat=application%2Fjson')
    .then(result=>result.json())
    .then((output)=>{

      if(!flowerShow){

        flowerLayer = L.geoJson(output,{
          onEachFeature: function(feature, layer){
            layer.bindPopup(`<div>Location of Observation: ${feature.properties.Location_o}<br>Model System: ${feature.properties.model_syst}<br>Flowering: ${feature.properties.details_2}</div>`)
          },
          filter:function(feature,layer){
            if(feature.properties.details_2 == val) counter=counter+1;
            return feature.properties.details_2 == val;
          },
          pointToLayer: function(feature,latlng){
              return L.marker(latlng,{icon: MyIcon});
          },
        })
        flowerLayer.addTo(mymap)
        flowerShow = true
        document.getElementById('f').innerHTML = ': '+counter;

      }else{
        console.log(flowerLayer)
        mymap.removeLayer(flowerLayer)
        document.getElementById('f').innerHTML = '';
        flowerShow = false;
      }

      
    })
  
}


function noflower(val){
counter=0;


  fetch('https://geonode.communitygis.in/geoserver/geonode/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=geonode%3ACUBE_Seasonomics___all_versions___English&outputFormat=application%2Fjson')
    .then(result=>result.json())
    .then((output)=>{
  if(!nonflower){
    
        nonflowerLayer = L.geoJson(output,{
          onEachFeature: function(feature, layer){
            layer.bindPopup(`<div>Location of Observation: ${feature.properties.Location_o}<br>Model System: ${feature.properties.model_syst}<br>Flowering: ${feature.properties.details_2}</div>`)
          },
          filter:function(feature,layer){
            if(feature.properties.details_2 == val) counter=counter+1;
            return feature.properties.details_2 == val;
          },
        })
        nonflowerLayer.addTo(mymap)
        document.getElementById('nf').innerHTML = ': '+counter;
        nonflower = true

        }else{
          console.log(nonflowerLayer)
          mymap.removeLayer(nonflowerLayer)
          document.getElementById('nf').innerHTML = ': ';
          nonflower = false;
        }
      })

}

var f = false;
var nf = false;
var fruitLayer;
var nonfruitLayer;
function nofruit(val){
  counter=0;
  fetch('https://geonode.communitygis.in/geoserver/geonode/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=geonode%3ACUBE_Seasonomics___all_versions___English&outputFormat=application%2Fjson')
    .then(result=>result.json())
    .then((output)=>{
  if(!nf){
    
        nonfruitLayer = L.geoJson(output,{
          onEachFeature: function(feature, layer){
            layer.bindPopup(`<div>Location of Observation: ${feature.properties.Location_o}<br>Model System: ${feature.properties.model_syst}<br>Flowering: ${feature.properties.details_2}<br> Fruiting: ${feature.properties.details_3}</div>`)
          },
          filter:function(feature,layer){
            if(feature.properties.details_3 == val)counter=counter+1;
            return feature.properties.details_3 == val;
          },
        })
        nonfruitLayer.addTo(mymap)
        document.getElementById('nfu').innerHTML = ': '+counter;
        nf = true

        }else{
          console.log(nonfruitLayer)
          mymap.removeLayer(nonfruitLayer)
          document.getElementById('nfu').innerHTML = ': ';
          nf = false;
        }
      })
}

function fruit(val){
  counter=0;
  fetch('https://geonode.communitygis.in/geoserver/geonode/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=geonode%3ACUBE_Seasonomics___all_versions___English&outputFormat=application%2Fjson')
    .then(result=>result.json())
    .then((output)=>{

      var MyIcon = L.icon({
          iconUrl: '{% static "static1/images/fruit1.png" %}',
          iconSize:     [50, 50], // size of the icon
          shadowSize:   [50, 64], // size of the shadow
          iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
          shadowAnchor: [4, 62],  // the same for the shadow
          popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
      });
  if(!f){
    
        fruitLayer = L.geoJson(output,{
          onEachFeature: function(feature, layer){
            layer.bindPopup(`<div>Location of Observation: ${feature.properties.Location_o}<br>Model System: ${feature.properties.model_syst}<br>Flowering: ${feature.properties.details_2}<br> Fruiting: ${feature.properties.details_3}</div>`)
          },
          filter:function(feature,layer){
            if(feature.properties.details_3 == val) counter=counter+1;
            return feature.properties.details_3 == val;
          },
        })
        fruitLayer.addTo(mymap)
        // console.log(counter)
        document.getElementById('fu').innerHTML = ': '+counter;
        f = true;

        }else{
          // console.log(nonfruitLayer)
          mymap.removeLayer(fruitLayer)
          document.getElementById('fu').innerHTML = ': ';
          f = false;
        }
      })
}



var lat;
var l1;
var l2;
range = [];
function latit(){
  range=[]
  lat = document.getElementById('inputLat').value
  counter=0;

  console.log(`lat ${lat}`)
  if(lat == 'Zone 1'){
    for(i=9;i<=13;i++){
      range.push(i);
    }
  }
  if(lat == 'Zone 2'){
    for(i=14;i<=17;i++){
      range.push(i);
    }
  }
  if(lat == 'Zone 3'){
    for(i=18;i<=21;i++){
      range.push(i);
    }
  }
  if(lat == 'Zone 4'){
    for(i=22;i<=25;i++){
      range.push(i);
    }
  }
  if(lat == 'Zone 5'){
    for(i=25;i<=29;i++){
      range.push(i);
    }
  }
  if(lat == 'Zone 6'){
    for(i=30;i<=33;i++){
      range.push(i);
    }
  }
  if(lat == 'Zone 7'){
    for(i=34;i<=37;i++){
      range.push(i);
    }
  }
  fetch('https://geonode.communitygis.in/geoserver/geonode/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=geonode%3ACUBE_Seasonomics___all_versions___English&outputFormat=application%2Fjson')
    .then(result=>result.json())
    .then((output)=>{
      latLayer = L.geoJson(output,{
        onEachFeature: function(feature, layer){
          layer.bindPopup(`<div>Location of Observation: ${feature.properties.Location_o}<br>Model System: ${feature.properties.model_syst}<br>Flowering: ${feature.properties.details_2}   <br>${feature.geometry.coordinates[1]}</div>`)
        },
        filter:function(feature,layer){
          //console.log(feature.geometry.coordinates[1])
          //console.log(parseInt(feature.properties.end.slice(5,7)) in range)
          if(range.indexOf(parseInt(feature.geometry.coordinates[1]))!=-1) counter=counter+1;
          //console.log(feature.geometry.coordinates[1])
          //if(parseInt(feature.geometry.coordinates[1]) in range) console.log(feature.geometry.coordinates[1])
          return range.indexOf(parseInt(feature.geometry.coordinates[1]))!=-1;
        }
      })
      latLayer.addTo(mymap)
      console.log(counter)
    })

}


    
function clearMap(){
  console.log('dfdgdfg')
  mymap.setView([19.7515-1,75.7139-1], 4.2)
  if(districtLayer) mymap.removeLayer(districtLayer);
  if(latLayer) {
    mymap.removeLayer(latLayer);
    document.getElementById('inputLat').selectedIndex='-- Select Latitude --';
  }
  if(monthLayer){
    year='';
    from='';
    to='';
    document.getElementById('inputYear').selectedIndex='None';
    document.getElementById('inputMonthf').selectedIndex='SelectMoth';
    document.getElementById('inputMontht').selectedIndex='SelectMonth';

    mymap.removeLayer(monthLayer)
  }
  if(modelLayer) mymap.removeLayer(modelLayer);
  document.getElementById('inputModel').selectedIndex='Select Model';
  if(flowerLayer){
    flowerShow = false
    $('#flower').prop("checked",false)
    document.getElementById('f').innerHTML = '';
    mymap.removeLayer(flowerLayer);
  } 
  if(nonflowerLayer){
    nonflower = false
    $('#noflower').prop("checked",false)
    document.getElementById('nf').innerHTML = ': ';
    mymap.removeLayer(nonflowerLayer);
  }
  
  if(fruitLayer){
    f = false
    $('#fruit').prop("checked",false)
    document.getElementById('fu').innerHTML = ': ';
    mymap.removeLayer(fruitLayer);
  } 
  if(nonfruitLayer){
    nf = false
    $('#nofruit').prop("checked",false)
    document.getElementById('nfu').innerHTML = ': ';
    mymap.removeLayer(nonfruitLayer);
  }
}
 

function month(){
  var year = document.getElementById('inputYear')
  var from = document.getElementById('inputMonthf')
  var to = document.getElementById('inputMontht')
  
  if(year.value!='None' || from.value!='SelectMonth' || to.value!='SelectMonth'){
    counter=0;
    range=[]
    for(i=parseInt(from.value);i<=parseInt(to.value);i++){
      range.push(i);
    }
    console.log(`${from.value} ${to.value} ${year.value}`)
  
    fetch('https://geonode.communitygis.in/geoserver/geonode/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=geonode%3ACUBE_Seasonomics___all_versions___English&outputFormat=application%2Fjson')
    .then(result=>result.json())
    .then((output)=>{
      monthLayer = L.geoJson(output,{
        onEachFeature: function(feature, layer){
          layer.bindPopup(`<div>Location of Observation: ${feature.properties.Location_o}<br>Model System: ${feature.properties.model_syst}<br>Flowering: ${feature.properties.details_2}</div>`)
        },
        filter:function(feature,layer){
          if(feature.properties.end.slice(0,4)==year.value && range.indexOf(parseInt(feature.properties.end.slice(5,7)))!=-1) counter=counter+1;
          //console.log(parseInt(feature.properties.end.slice(5,7)) in range)
          console.log(`${range} ${parseInt(feature.properties.end.slice(5,7))}`)
          //return feature.properties.end.slice(0,4)==year.value && parseInt(feature.properties.end.slice(5,7)) in range;
          return feature.properties.end.slice(0,4)==year.value && range.indexOf(parseInt(feature.properties.end.slice(5,7)))!=-1;
        }
      })
      monthLayer.addTo(mymap)
      console.log(counter)
    })

  }else{
    console.log('cannot plot')
  }


}
 
</script> 
{% endblock map%}
